/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
#mc_embed_signup form {
	padding: 0;
}
@media (min-width:768px){
	.navbar-inverse .navbar-nav>li {
		border-bottom: 3px solid #222;
	}
	.navbar-inverse .navbar-nav>li:hover {
		border-bottom: 3px solid white;
	}
}